body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

.navbar {
    background: #111;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid red;
}

.hero {
    height: 60vh;
    background: url('../assets/background-placeholder.png') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    color: white;
    background-color: black;
}

.btn, .btn-small {
    display: inline-block;
    background: red;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 20px;
}
